[submodule "heiplanet-db"]
	path = heiplanet-db
	url = https://github.com/ssciwr/heiplanet-db
[submodule "heiplanet-data"]
	path = heiplanet-data
	url = https://github.com/ssciwr/heiplanet-data
[submodule "heiplanet-models"]
	path = heiplanet-models
	url = https://github.com/ssciwr/heiplanet-models
[submodule "heiplanet-frontend"]
	path = heiplanet-frontend
	url = https://github.com/ssciwr/heiplanet-frontend
	branch = align-apis
