repos:
    - repo: https://github.com/RodrigoGonzalez/check-mkdocs
      rev: v1.2.0
      hooks:
        - id: check-mkdocs
          name: check-mkdocs
          args: ["--config", "mkdocs.yml"]  
          additional_dependencies: ['mkdocs-material', 'mkdocs-monorepo-plugin', 'mkdocs-include-markdown-plugin']